.rectangle{
    height: 500px;
    width:1000px;
    border-color: black;
    border: solid;
    margin:20px;
    display: block;
    justify-content: center; 
    align-items: center;
    padding:20px;
    text-align: center;
    font-weight:600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
   

.divMain{
    display: flex;
    justify-content: center; 
    
}
.innerRect{
    height: 300px;
    width:880px;
    border-color: black;
    border: solid;
    margin:35px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 20px;
}
.square{
    height: 200px;
    width:200px;
    border-color: black;
    border: solid;
    margin:25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgdrama{
    height: 160px;
    width:160px;
    margin: 0;
    border-radius: 100px;
    
}

.formfields{
    text-align: right;
    
}
#seat{
    width:350px;
}

.TextDesign{
    width:350px;
    height:30px;
}
.btndef{
    width:150px;
    margin-top: 20px;
    margin-right: 30px;
    font-weight:600;
}